* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
   border: 10px solid pink;
   position: absolute;
  animation-name: colorchange;
   animation-duration: 11s;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes colorchange {
    0%{background-color: #FAE98B;}
    10%{background-color: #FFCF81;}
    20%{background-color: #FFB996;}
    30%{background-color: #D9EFB9;}
    40%{background-color: #FAE98B;}
    50%{background-color: #FFCF81;}
    60%{background-color: #FFB996;}
    70%{background-color: #D9EFB9;}
    80%{background-color: #FAE98B;}
    90%{background-color: #FFCF81;}
    100%{background-color: #FFB996;}
}
   
