* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: block;
}

canvas {
   border: 10px solid #B1C381;
   position: absolute;
  animation-name: colorchange;
   animation-duration: 11s;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes colorchange {
    0%{background-color: #8ACDD7;}
    10%{background-color: #F9F9E0;}
    20%{background-color: #FFC0D9;}
    30%{background-color: #FF90BC;}
    40%{background-color: #8ACDD7;}
    50%{background-color: #F9F9E0;}
    60%{background-color: #FFC0D9;}
    70%{background-color: #FF90BC;}
    80%{background-color: #8ACDD7;}
    90%{background-color: #F9F9E0;}
    100%{background-color: #FFC0D9;}
}
   
