* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
   border: 10px solid pink;
   position: absolute;
  animation-name: colorchange;
   animation-duration: 11s;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes colorchange {
    0%{background-color: #FF6138;}
    10%{background-color: #FFBE53;}
    20%{background-color: #298089;}
    30%{background-color: #282741;}
    40%{background-color: #FF6138;}
    50%{background-color: #FFBE53;}
    60%{background-color: #298089;}
    70%{background-color: #282741;}
    80%{background-color: #FF6138;}
    90%{background-color: #FFBE53;}
    100%{background-color: #298089;}
}
   
